.cursor {
  background-color: transparent;
  border: 3px solid grey;
  pointer-events: none;
  border-radius: 50%;
  position: fixed;
  opacity: 0.5;
  z-index: 99;
  left: 0;
  top: 0;
}

.home {
  margin: 0 auto;
}

.flex-row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.flex-col {
  justify-content: center;
  flex-direction: column;
  align-items: center;
  display: flex;
}

.main-content {
  margin: 0 auto;
  width: 75%;
}

.port-head {
  text-align: center;
  font-size: 3rem;
  margin-top: 5rem;
}

.h-line {
  margin: 2rem auto;
  width: 100%;
  opacity: 0.2;
}

.web-pxl {
  width: 80%;
  margin: auto;
  margin-top: 10rem;
}

.bottom-line {
  margin-top: 4rem;
  font-size: small;
  opacity: 0.7;
  text-shadow: 2px 2px 4px black;
}

/* Navbar */
nav {
  justify-content: space-between;
  color: rgb(150, 150, 150);
  text-transform: capitalize;
  align-items: center;
  text-align: center;
  padding: 0.5rem 0;
  font-weight: 500;
  margin: 0;
  display: flex;
  backdrop-filter: blur(5px);
  top: 0;
  position: sticky;
  z-index: 9;
}

.nav-left {
  margin-left: 10rem;
}

.nav-right {
  margin-right: 10rem;
}

nav ul {
  display: flex;
}
nav ul li {
  margin-left: 2rem;
  list-style: none;
}

nav a {
  transition: 200ms ease-in-out;
  text-decoration: none;
  color: inherit;
}
nav a:hover {
  color: white;
}

nav .activeLink {
  color: white;
}
/* Navbar-end */

/* Side-bar */
.contain-side-nav {
  position: fixed;
  left: 0;
  top: 50%;
  margin: -200px 0 0;
  z-index: 9;
  padding: 35px 0;
  opacity: 1;
}

.contain-side-nav li:before {
  content: ' ';
  display: inline-block;
  width: 30px;
  height: 10px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background: #fff;
  opacity: 0.2;
}

.contain-side-nav .active li::before {
  background-color: #9782f3;
  opacity: 1;
}

.contain-side-nav li {
  padding: 0;
  cursor: pointer;
  list-style: none;
  margin: 20px 0;
  -moz-transition: 0.2s;
  transition: 0.2s ease-in-out;
}

.contain-side-nav li:hover {
  -webkit-transform: scale(1.5);
  -moz-transform: scale(1.5);
  transform: scale(1.5);
}

.contain-side-nav li:hover:before {
  opacity: 0.5;
}
/* Side-bar-end */

/* Home */

/* Hero */

.contain-hero {
  margin: 0 auto;
  align-items: center;
  text-align: center;
  width: 100%;
  padding-top: 4rem;
}

.hero-head {
  font-size: x-large;
  width: 75%;
  margin: auto;
  text-transform: capitalize;
  position: absolute;
  left: 0;
  right: 0;
  margin-top: -15rem;
}

.hero-head p {
  color: rgb(119, 119, 119);
  font-weight: 600;
  font-size: 2rem;
  padding-top: 2rem;
  margin-top: -2rem;
}

.hero-img {
  background-image: linear-gradient(
      to bottom,
      transparent 60%,
      rgba(0, 0, 0, 1) 100%
    ),
    url(/public/images/Eryk-3D.png);
  background-size: contain;
  height: 100vh;
  position: relative;
  background-repeat: no-repeat;
  margin-top: 14rem;
}

/* @keyframes float {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(-10px);
  }
  100% {
    transform: translatey(0px);
  }
} */

.about-sm {
  position: absolute;
  width: fit-content;
  text-align: center;
  font-size: 38px;
  font-weight: 600;
  color: rgb(119, 119, 119);
  padding: 1rem;
  top: 60%;
  right: 0;
  left: 0;
  margin: auto;
}

.about-sm p {
  margin: 0.5rem auto;
}
/* Hero-end */

/* Web3 */
.card-1 {
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.560749299719888) 0%,
      rgba(98, 85, 187, 1) 100%
    ),
    url(/public/images/backgrounds/bg1.png);
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 4rem;
  align-items: center;
  height: fit-content;
  background-size: cover;
  padding: 2rem;
  border-radius: 2rem;
  width: 80%;
  margin: 4rem auto;
  position: relative;
}

.card-1-flex {
  display: flex;
  /* padding: 2rem; */
  justify-content: center;
  align-items: center;
}

.card1-lft {
  width: 50%;
  text-align: justify;
  font-size: x-large;
  /* padding-right: 1rem;
  margin-left: 2rem; */
}

.card1-lft .btn {
  border: 1px solid white;
  padding: 0.5rem 1rem;
  width: fit-content;
  border-radius: 2rem;
  align-items: center;
  margin: auto;
  cursor: pointer;
  margin-top: 4rem;
}

.card1-lft .btn a {
  color: white;
  text-decoration: none;
}

.twit {
  margin: 0 auto;
  width: 40%;
}

.pixel-man {
  position: absolute;
  z-index: 2;
  bottom: -4rem;
  right: -7rem;
}

.pixel-man img {
  width: 75%;
}

/* Steps */
.steps-contain {
  margin: auto;
  align-items: center;
  text-align: center;
}

.step1 {
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.560749299719888) 0%,
      rgba(98, 85, 187, 1) 100%
    ),
    url(/public/images/backgrounds/bg2.png);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: fit-content;
  background-size: cover;
  padding: 2rem;
  border-radius: 2rem;
  width: 80%;
  margin: 4rem auto 0 auto;
  font-size: large;
}

.step1 img {
  width: 100%;
}

.s1-rt,
.s1-lt {
  width: 50%;
  margin: 0 1rem;
  text-align: left;
}

.s1-rt img {
  border-radius: 0.5rem;
  box-shadow: 10px 10px 15px 0px rgba(0, 0, 0, 0.5);
}

.s1-d img {
  width: 100%;
}

.s1-d {
  width: 85%;
  margin: auto;
  margin: 0 auto 5rem auto;
  display: flex;
}

.step2 {
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.560749299719888) 0%,
      rgba(98, 85, 187, 1) 100%
    ),
    url(/public/images/backgrounds/bg3.png);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: fit-content;
  background-size: cover;
  padding: 2rem;
  border-radius: 2rem;
  width: 80%;
  margin: 10rem auto 0 auto;
  font-size: large;
}

.step2 img {
  width: 100%;
}

.s2-flx {
  padding: 1rem 0;
}

.s2-rt,
.s2-lt {
  width: 50%;
  margin: 0 1rem;
  text-align: left;
}

.s2-rt img {
  border-radius: 0.5rem;
}

.s2-rt {
  width: 65%;
}

.s2-d img {
  border-radius: 0.5rem;
  width: 100%;
}

.s2-d {
  width: 85%;
  margin: auto;
  margin: 6px auto 4rem auto;
}

.step3 {
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.560749299719888) 0%,
      rgba(98, 85, 187, 1) 100%
    ),
    url(/public/images/backgrounds/bg4.png);
  height: fit-content;
  background-size: cover;
  padding: 2rem;
  border-radius: 2rem;
  width: 80%;
  margin: 10rem auto;
}

.step3 img {
  width: 100%;
  border-radius: 0.5rem;
  box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.5);
}

.step3 .top {
  margin: 1rem auto;
  width: 85%;
}

.slider {
  display: flex;
  margin: auto;
  padding: 0 2rem;
  align-items: center;
  width: 65%;
  justify-content: center;
}

.step4 {
  width: 85%;
  margin: 5rem auto;
}

.step4 img {
  width: 100%;
  border-radius: 0.5rem;
}

.s4-h,
.s4-img {
  display: flex;
  justify-content: center;
}

.s4-img {
  align-items: center;
  margin-top: 2rem;
}

.s4-h-c,
.s4-i-c {
  width: 50%;
}

.s4-i-c {
  padding: 2rem;
  border-radius: 1rem;
}

.SB {
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.560749299719888) 0%,
      rgba(98, 85, 187, 1) 100%
    ),
    url(/public/images/backgrounds/bg5.png);
  background-size: cover;
}

/* Steps-end */
/* Web3-end */

/* web2 */
.w3-c1 {
  width: 80%;
  margin: 4rem auto;
  margin-bottom: 10rem;
  text-align: center;
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.1) 0%,
      rgb(0, 0, 0) 100%
    ),
    url(/public/images/backgrounds/bg6.png);
  background-size: cover;
  padding: 2rem;
  height: fit-content;
  border-radius: 2rem;
}

.w3-c1 img {
  width: 100%;
}

.w3-c1 h3,
.w3-c2 h3 {
  color: #9782f3;
}

.face {
  width: 100px;
}

.man-flex {
  display: flex;
  justify-content: center;
  gap: 4rem;
  font-weight: 500;
  padding: 2rem;
}

.man-flex img {
  border-radius: 1rem;
}

.gp {
  width: 70%;
  margin: auto;
}

.w3-c2 {
  width: 80%;
  margin: 6rem auto;
  text-align: center;
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.4) 0%,
      rgb(0, 0, 0) 100%
    ),
    url(/public/images/backgrounds/bg7.png);
  background-size: cover;
  padding: 2rem;
  height: fit-content;
  border-radius: 2rem;
}

.c2 {
  gap: 5rem;
  padding: 1rem 2rem;
}

.w3-c2 img {
  width: 100%;
}

.c2-rt,
.c2-lt {
  width: 50%;
}

.nevia-logo {
  width: 45%;
  margin: auto;
}

/* web2-end */

/* Home-end */

/* Footer */

.foo {
  padding-bottom: 2rem;
}

.foo a {
  color: white;
  text-decoration: none;
}

.foo-flex {
  display: flex;
}

.foo-left,
.foo-right {
  width: 50%;
}

.foo-right {
  text-align: right;
  align-items: center;
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.foo img {
  height: 100%;
  width: 40%;
  margin-left: 0.5rem;
}

.foo-left-flx {
  display: flex;
  align-items: center;
}

.foo-left-flx p {
  margin-right: 0.5rem;
  font-size: 20px;
  line-height: 27px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.snd-mail {
  width: 100%;
}

.snd-mail {
  align-items: center;
  text-align: center;
  background-color: #9782f3;
  border-radius: 0.5rem;
}

.snd-mail p {
  padding: 0.5rem;
  font-weight: bold;
}
/* Footer-end */

/* About */
.about-contain {
  font-size: 30px;
  line-height: 45px;
  margin: 5rem 4rem;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.about-contain h1 {
  line-height: 0;
  font-size: 48px;
  margin-bottom: 4rem;
  font-weight: 700;
}
/* About-end */

/* Media Queries */
@media (max-width: 480px) {
  .cursor,
  .side-nav,
  .nav-left {
    display: none;
  }

  .port-head {
    text-align: center;
    font-size: 2rem;
  }

  .web-pxl {
    margin-top: 5rem;
    text-align: center;
  }

  .web-pxl img {
    width: 100px;
  }

  .nav-left {
    margin-left: 0;
  }

  .nav-right {
    font-size: 15px;
    margin-right: 0;
  }

  nav ul li {
    margin-left: 0;
  }

  nav ul {
    justify-content: space-between;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }

  .contain-hero {
    padding-top: 2rem;
  }

  .hero-head {
    font-size: smaller;
    width: 80%;
    margin-top: -10rem;
  }

  .hero-head p {
    font-size: small;
  }

  .hero-img {
    background-size: 300px;
    position: static;
    margin-top: 8rem;
    height: 22vh;
  }

  .about-sm {
    font-size: small;
    top: 46%;
  }

  .card-1 {
    gap: 2rem;
    width: auto;
  }

  .card-1-flex {
    flex-direction: column;
  }

  .card1-lft {
    font-size: 15px;
    line-height: 20px;
  }

  .card1-lft .btn {
    margin: 2rem auto;
  }

  .card1-lft,
  .twit {
    width: 100%;
  }

  .web3-heading img {
    width: 100%;
  }

  .pixel-man {
    position: absolute;
    z-index: 2;
    bottom: -2rem;
    right: -2rem;
    width: 100px;
    height: 100px;
  }

  .pixel-man img {
    width: 100%;
  }

  .steps-contain .step-pxl img {
    width: 100%;
  }

  .steps-contain .step-pxl {
    width: 100px;
    margin: auto;
  }

  .step1 {
    padding: 0.5rem;
    border-radius: 1rem;
    width: 100%;
    margin: 1rem auto 0 auto;
    font-size: 6px;
  }

  .s1-rt,
  .s1-lt {
    margin: 0 0.5rem;
  }

  .bottom-line {
    font-size: 5px;
    margin-top: 2rem;
  }

  .s1-d {
    width: 100%;
    margin-left: 0.5rem;
  }
}
